body{
background-color:lightgray;
}
h1 {
display:block;
text-align: center;
color: purple;
}
h2 {
color: purple;
}
a:link, a:visited{
text-decoration: none;
background-color: mediumorchid;
color: black;
display: block;
width: 200px;
font-size: 25px;
text-align: center;
margin-bottom: 2px;
border: 1px solid black;
}
a:hover, a:active {
	background-color: purple;
	color: white;
	border: 1px solid white ;
}
#nobullet {
	text-align:center;
}
#nobullet ul li {
	list-style-type: none;
	display: inline-block;
}